/* ROOTS */
:root {
    --white: #f9f9f9;
    --offwhite: #ececec;
    --black: #0b0b0b;
    --pink: #fa6980;
    --border-radius: 4px;
  }

/* BODY */
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--offwhite);
    height: 100%;
    margin: 0;
}

/* NAVIGATION */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
    background: var(--white);
    color: var(--black);
}
header p {
    font-weight: 600;
    color: var(--pink);
}
nav a {
    justify-content: flex-end;
    color: var(--black);
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 600;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav li{
    padding-left: 40px;
}

nav a:link {
    text-decoration: none;
}
  
nav a:visited {
    text-decoration: none;
  }
  
nav a:hover{
    color: var(--pink);
}

/* BODY */
main {
    margin: 0px;
}
.hero-image {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-content {
    position: absolute;
    margin: 20%;
    color: var(--white);
    line-height: 32px;
}
.hero-content h1 {
    margin-bottom: 20px;
}

.hero-content button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    margin: 12px 0 12px 0;
    color: var(--white);
    background-color: var(--pink);
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }